<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlockDegree</title>
    <link rel="stylesheet" href="/css/bootstrap-4.4.1.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/font-awesome/css/all.css">
    <link rel="stylesheet" type="text/css" href="/datatables/datatables.min.css"/>
 
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">BlockDegree</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <%if(currentUser){%>
                <li class="nav-item active">
                    <a class="nav-link" href="/<%=currentUser.userType.toLowerCase()%>/<%=currentUser.userObject%>">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <%}%>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                </li> -->
            </ul>
            <ul class="navbar-nav ml-auto">
                <% if(!currentUser){ %>
                <li class="nav-item ">
                    <a class="nav-link" href="/register">Sign Up</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/login">Log In</a>
                </li>
                <%} else {%>
                <li class="nav-item ">
                    <a class="nav-link" href="#">Signed in as: <%=currentUser.username%></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/logout">Log Out</a>
                </li>
                <%}%>
            </ul>
        </div>
    </nav>
    <%if(currentUser && !(currentUrl.includes("register") || currentUrl.includes("view") || currentUrl.includes("degree") ) ){%>
        <%#do stuff if var is defined and not null%>
        <%if(currentUser.userType === 'University' && typeof university !== 'undefined' && university){%>
                <div class="p-4 text-center" style="background-color: gainsboro;">
                    <div class="d-inline-block">
                        <i class="fas fa-university fa-7x mr-3"></i>
                    </div>
                    <h1 class="display-5 d-inline-block"><%=university.universityName%>'s<br>Dashboard</h1>
                </div>
        <%}%>
        <%if(currentUser.userType === 'Student' && typeof student !== 'undefined' && student){%>
                <div class="p-4 text-center darkPurple text-white">
                    <div class="d-inline-block">
                        <i class="fas fa-user-graduate fa-7x mr-3"></i>
                    </div>
                    <div class="d-inline-block h-100">
                        <h1 class="display-5 d-inline-block vertical-middle"><%=student.name%>'s Dashboard</h1>
                    </div>
                </div>
        <%}%>
        <%if(currentUser.userType === 'Employer' && typeof employer !== 'undefined' && employer){%>
                <div class="p-4 text-center lightGreen">
                    <div class="d-inline-block">
                        <img src="/images/employer-logo.png" alt="employer logo"
                            style="width: 150px; height:150px; float:center;" class="ml-3 mr-3">
                    </div>
                    <h1 class="display-5 d-inline-block vertical-middle"><%=employer.employerName%>'s Dashboard</h1>
                </div>
        <%}%>
    <%}%>
    <div class="container">
        <%if(errorFlash && errorFlash.length > 0){%>
                <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                    <strong><%=errorFlash%></strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <%}%>
        <%if(successFlash && successFlash.length >0){%>
                <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                    <strong><%=successFlash%></strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <%}%>
    </div>