<%- include ("./partials/header") %>

<div class="container mt-4">
    <div class="h-100 text-center">
        <a href="/<%=currentUser.userType.toLowerCase()%>/<%=currentUser.userObject%>" class="btn btn-outline-info"><i class="fas fa-arrow-circle-left mr-2"></i>Return to
            Dashboard</a>
    </div>
    <h1 class="display-heading-4 text-center mt-4">Share your<br>
        <span class="text-muted"><%=degree.degreeType %> in <%=degree.major%></span>
        <br>Degree
    </h1>


    <form class="mt-4 form-inline" action="/degrees/<%=degree._id%>/share" method="POST">
        <label for="blockDegreeEmail">BlockDegree Email: </label>
        <div class="w-75 ml-3 mr-3">
            <input type="email" class="form-control w-100" name="blockDegreeEmail" id="blockDegreeEmail"
                placeholder="recruiter@company.com">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-success"><i class="fas fa-share-alt mr-2"></i>Share</button>
        </div>
    </form>

    <hr style="border-top:5px solid rgba(0,0,0,.1)" class="mt-4">

    <h1 class="mt-4 display-heading-4 text-center">Who has access</h1>
    <table class="table table-hover mt-4">
        <thead class="bg-info text-white">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">Name</th>
                <th scope="col">Institution</th>
                <th scope="col">Email</th>
                <th scope="col">Contact Number</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            <% var i=1; %>
            <% sharesList.forEach(function(share){ %>
            <tr class="accessRow">
                <th scope="row"><%= i %> </th>
                <td><%=share.userType%></td>
                <%if(share.userType === 'Employer'){%>
                    <td><%=share.sharedWith.employerName%></td>
                <%}else{%>
                    <td>Registrar</td>
                <%}%>
                <%if(share.userType === 'Employer'){%>
                    <td><%=share.sharedWith.companyName%></td>
                <%}else{%>
                    <td><%=share.sharedWith.universityName%></td>
                <%}%>
                <td><%=share.sharedWith.blockDegreeEmail%></td>
                <td><%=share.sharedWith.contactNumber%></td>
                <td><a href="/degrees/<%=degree._id%>/revoke/<%=share.sharedWith._id%>"
                        class="btn btn-outline-danger p-2"><i class="fas fa-minus-circle mr-2"></i>Unshare</a></td>
            </tr>
            <% i++; }) %>
        </tbody>
    </table>
</div>

<%- include ("./partials/footer") %>
