<%- include ("./partials/header") %>

<div class="container mt-5 text-center">
    <div class="row">
        <!-- <div class="col">
                <a href="" class="btn btn-outline-info w-100 p-4 rem1-25"><i class="fas fa-user-plus mr-2"></i>Add a
                    Student</a>
            </div> -->
        <div class="col">
            <a href="/university/<%=university._id%>/addDegree" class="btn btn-outline-info w-100 p-4 rem1-25"><i
                    class="fas fa-stamp mr-2"></i></i>Add a Degree</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <a href="/university/<%=university._id%>/viewIssuedDegrees"
                class="btn btn-outline-info w-100 p-4 rem1-25"><i class="fas fa-file-alt mr-2"></i>View All Issued
                Degrees</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <a href="/university/<%=university._id%>/viewSharedDegrees"
                class="btn btn-outline-info w-100 p-4 rem1-25"><i class="fas fa-file-alt mr-2"></i>View All Degrees Shared With You
                </a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <a href="/university/<%=university._id%>/viewAllStudents" class="btn btn-outline-info w-100 p-4 rem1-25"><i
                    class="fas fa-users mr-2"></i>View All
                Students</a>
        </div>
    </div>
</div>
<%- include ("./partials/footer") %>


