<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlockDegree</title>
    <link rel="stylesheet" href="/css/bootstrap-4.4.1.min.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">BlockDegree</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="#">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-3">
        <div class="card">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body text-center degreeCard">
                <p class="card-text">On the authority of the</p>
                <h5 class="card-title diplomaFont rem4"><%= degree.universityName%></h5>
                <h1 class="display-5"><%=degree.studentName%></h1>
                <p class="card-text ">having fulfilled all requirements and conditions prescribed</p>
                <p class="card-text">is awarded the</p>

                <h1 class="majorFont"><%=degree.degreeType%> in <%=degree.major%></h1>
                <p class="card-text ">with distinction</p>
                <h5 class="card-title"><%=degree.honors%></h5>
                <p class="card-text">and all honors, rights and priviledges attached to the same</p>
                <!-- <div class="text-center"> -->

                <div class="text-center">
                    <img src="/images/aus-logo.png" alt="university logo"
                        style="width: 150px; height:150px; float:center;" class="ml-3 mr-3">
                </div>
                <div class="row">
                    <div class="col">
                        <p class="signFont">Kevin Mitchell</p>
                    </div>
                    <div class="col">
                        <p class="signFont">Gerassimos Barlas</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="diplomaFont rem2">Chancellor</p>
                    </div>
                    <div class="col">
                        <p class="diplomaFont rem2">Dean</p>
                    </div>
                </div>
                <!-- <div class="text-left mr-5 d-inline-block signFont">
                </div>
                <div class="text-right ml-5 d-inline-block signFont">
                </div> -->
                <!-- </div> -->
                <p class="card-text"><small class="text-muted">Awarded on
                        <%=degree.issueDate.toLocaleDateString("en-US") %></small></p>
            </div>
        </div>
        <div class="text-center m-0 p-0">
            <img src="/images/blockchain-verified.png" alt="blockchain verified" class="w-75, h-75">
        </div>
    
    </div>

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper-1.16.0.min.js"></script>
    <script src="/js/bootstrap-4.4.1.min.js"></script>

    <script src="/js/universityDashboardFunctions.js"></script>
</body>

</html>